/* =================== Reset =================== */

body {
   font-family: "Sans Serif", Arial, sans-serif;
   color: #222222;
   background-color: #0b1d26;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: white;
}

img {
   display: block;
   max-width: 100%;
}

* {
   box-sizing: border-box;
   font-weight: bold;
   margin: 0;
   padding: 0;
}
img {
   max-width: 100%;
   vertical-align: middle;
   display: inline-block;
}

.width-page {
   max-width: 1920px;
   margin: auto;
   /* background-image: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 28%); */
}

li::selection,
h1::selection,
h2::selection,
h3::selection,
p::selection,
img::selection,
span::selection {
   color: #fbd784;
}

li:hover {
   color: #fbd784;
}

/* =================== Images background =================== */

.img-bg1 {
   position: absolute;
   width: 100%;
   max-width: 1920px;
   top: 0;
   z-index: -4;
}

.img-bg2 {
   position: absolute;
   top: 40%;
   width: 100%;
   max-width: 1920px;
   z-index: -3;
}

.img-bg3 {
   width: 100%;
   max-width: 1920px;
   position: absolute;
   top: 60%;
   z-index: -1;
}

.gradient-hero {
   margin: 0 auto;
   position: absolute;
   left: 0%;
   top: 0%;
   right: 0%;
   bottom: 0%;
   width: 100%;
   max-width: 1920px;
   height: 100vh;
   background-image: linear-gradient(135deg, #0b1d26, transparent 87%);
   opacity: 0.6;
   z-index: -2;
}
/* =================== Header =================== */

header {
   max-width: 1700px;
   margin: auto;
   padding-top: 40px;
}

.nav {
   margin: 0 auto;
   max-width: 1600px;
   display: flex;
   height: 48px;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 0 70px 0 70px;
   z-index: 1;
}

.nav__logo {
   height: 24px;
}
.nav ul {
   display: flex;
   list-style-type: none;
   justify-content: flex-end;
}

.nav a {
   color: white;
}

.nav__menu li {
   padding: 0;
   margin: 0;
}
.nav__menu a {
   display: block;
   padding: 10px 24px;
   font-size: 16px;
}

.account-icon {
   display: flex;
   justify-content: center;
   font-size: 14px;
}

.account-icon img {
   margin-right: 8px;
   display: inline;
}

.account-icon h3 {
   padding-top: 2px;
}

/* =================== Header-Title =================== */

.c-section-title {
   z-index: 5;
   max-width: 850px;
   margin: 0 auto;
   padding: 88px 20px 0px 20px;
}

.sub-title {
   font-family: "Serif Display", serif;
   font-size: 75px;
   line-height: 120%;
   font-weight: 600;
   text-transform: capitalize;
   margin-bottom: 32px;
   color: white;
   flex-wrap: wrap;
}

.c-section-title p {
   font-size: 1.2rem;
   font-weight: bold;

   padding-bottom: 10px;
}

.c-section-title .title {
   display: flex;
   color: #fbd784;
   font-size: 0.76rem;
   letter-spacing: 5px;
   text-transform: uppercase;
   padding-bottom: 45px;
   font-weight: 800;
}
.c-section-title .title-line {
   display: block;
   content: "";
   width: 72px;
   height: 2px;
   margin-top: 10px;
   margin-right: 20px;
   background: #fbd784;
}

.c-section-title .c-scroll {
   color: white;
   margin-right: 10px;
   font-size: 1rem;
}
.scroll-arrow {
   display: flex;
}
.scroll-arrow img {
   height: 24px;
}

/* =================== Main-Section-Conteúdo =================== */

main {
   background-image: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 15%);
}

/* ========= Block Type A========== */
.c-section {
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;
   margin-top: 20px;
   padding: 500px 80px 0 80px;
   /* background: #0b1d26; */
}

.block-type-A,
.block-type-B {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   margin-bottom: 200px;
   height: 680px;
}
.block__container {
   margin: auto 0;
   max-width: 550px;
   color: white;
}
.block__container p:first-child {
   display: flex;
   color: #fbd784;
   letter-spacing: 5px;
   font-weight: bolder;
}

.block__container h2 {
   font-size: 64px;
   font-weight: normal;
}

.block__container .text {
   line-height: 2rem;
}

.block__container .title-line {
   width: 60px;
   height: 2px;
   margin-top: 10px;
   margin-right: 20px;
   background: #fbd784;
}

.block__container span {
   display: block;
   color: #fbd784;
   margin-top: 10px;
}
.block-type-A .image,
.block-type-B .image {
   max-width: 480px;
   max-height: 680px;
}

.arrow {
   position: relative;
}

.arrow span {
   order: -1;
}

.arrow img {
   position: absolute;
   left: 90px;
   top: 5px;
}

/* ========= Block Type B========== */

.block-type-B .image {
   order: -1;
}
/* =================== Footer =================== */
footer {
   max-width: 1300px;
   display: flex;
   justify-content: space-between;
   padding: 0 40px 200px 40px;
   flex-wrap: wrap;
   margin: auto;
}

footer .c-block-1 {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
   color: white;
}
footer .c-block-1 h3 {
   font-size: 30px;
   padding-bottom: 15px;
}
footer .c-block-1 div {
   max-width: 300px;
}

.copyright {
   color: gray;
}

.copyright a {
   color: gray;
   text-decoration: underline;
   cursor: pointer;
}

.copyright a:hover {
   color: #fbd784;
}

footer .c-block-2 {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

footer .c-block-2 div:first-of-type {
   margin-right: 80px;
}

footer .c-block-2 div:last-of-type {
}

footer .c-block-2 h3 {
   color: #fbd784;
   font-size: 1.5rem;
}

footer .c-block-2 ul {
   color: white;
}

footer .c-block-2 h3,
li {
   padding-bottom: 28px;
}
footer .c-block-2 li {
   font-weight: 600;
}
/* =================== Media queries =================== */

@media only screen and (min-width: 1920px) {
   body {
      background: rgba(3, 18, 26, 0.8);
   }
}

@media (max-width: 1246px) {
   main {
      background-image: linear-gradient(
         180deg,
         rgba(11, 29, 38, 0),
         #0b1d26 10%
      );
   }
   .c-section {
      padding: 500px 20px 0 20px;
      max-width: 500px;
   }
   .block-type-A,
   .block-type-B {
      max-width: 480px;
      flex-direction: column;
      height: 850px;
      margin-bottom: 20px;
      justify-content: flex-start;
   }
   .block-type-A .image,
   .block-type-B .image {
      order: -1;
      margin-bottom: 20px;
      width: 100%;
      height: 420px;
      object-fit: cover;
      object-position: 50% 80%;
   }

   .sub-title {
      font-size: 58px;
   }
   .block__container h2 {
      font-size: 40px;
   }

   .block__container {
      align-self: center;
      margin: 20px auto 0px auto;
   }
}

@media (max-width: 900px) {
   main {
      background-image: linear-gradient(
         180deg,
         rgba(11, 29, 38, 0),
         #0b1d26 5%
      );
   }

   .c-section-title {
      max-width: 700px;
   }
   .img-bg1 {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: -4;
   }

   .img-bg2 {
      top: 30%;
   }

   .img-bg3 {
      top: 45%;
   }
   footer .c-block-2 div:first-of-type {
      margin-right: 0px;
   }
   footer .c-block-2 div:last-of-type {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0px;
      margin: -1;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
   }
}

@media (max-width: 750px) {
   .nav__menu {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0px;
      margin: -1;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
   }

   header {
      background-image: linear-gradient(
         180deg,
         rgba(11, 29, 38, 0),
         #0b1d26 89%
      );
   }
   .c-section-title {
      max-width: 470px;
      padding-bottom: 200px;
   }
   .c-section-title h1 {
      font-size: 40px;
   }

   main {
      background-image: linear-gradient(
         180deg,
         rgba(11, 29, 38, 0),
         #0b1d26 0%
      );
   }
   .c-section {
      margin-top: 0px;
      padding-top: 20px;
   }

   footer {
      padding: 0px 20px 20px 20px;
   }
   footer .c-block-1 {
      max-width: 200px;
   }

   footer p,
   li {
      font-size: 12px;
   }
   footer .c-block-2 h3,
   footer h3 {
      font-size: 15px;
   }
}

@media (max-width: 500px) {
   .block-type-A .image,
   .block-type-B .image {
      height: 320px;
   }
   header {
      background-image: linear-gradient(
         180deg,
         rgba(11, 29, 38, 0),
         #0b1d26 70%
      );
   }
}

@media (max-width: 410px) {
   .block-type-A {
      height: 950px;
      margin-bottom: 30px;
   }
   footer .c-block-1 {
      max-width: 150px;
   }
}
